html {
  height: 100%; /* This ensures the footer to stay at the bottom always */
}

body {
  position: relative;
  min-height: 100%; /* This ensures the footer to stay at the bottom always */

  font-family: Inter, sans-serif;
  transition: var(--preferred-transition);
}
