:root {
  --background-color: 240, 242, 245;
  --background-color-dark: 24, 25, 26;

  --surface-color: 255, 255, 255;
  --surface-color-dark: 36, 37, 38;

  /* To use them with rgba */
  --pink: 255, 86, 86;
  --green: 85, 170, 42;

  --surface-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1),
    0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  --surface-shadow-dark: 0px 0px 5px 0px rgba(0, 0, 0, 0.1),
    0px 0px 1px 0px rgba(0, 0, 0, 0.1);

  --surface-shadow-deep: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  --surface-shadow-deep-dark: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05);

  --text: #000;
  --text-dark: #fff;

  --preferred-transition: 0.2s ease all;

  --border-radius: 12px;

  --navbar-height: 60px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%; /* This ensures the footer to stay at the bottom always */
}

body {
  position: relative;
  min-height: 100%; /* This ensures the footer to stay at the bottom always */

  font-family: 'Poppins', sans-serif; /* Font weights: 300, 400, 500, 700 */
  font-weight: 400;
  color: var(--text);
  transition: var(--preferred-transition);
  background: rgba(var(--background-color));
  color: var(--text);
}

body.dark {
  background: rgba(var(--background-color-dark));
  color: var(--text-dark);
}
