body.dark .swal-modal {
  background: #181a1b;
}

body.dark .swal-title {
  color: #a0a09e;
}

body.dark .swal-text {
  color: #9d9d9b;
}

body.dark .swal-button--cancel {
  background: #212425;
  color: #aca89d;
}

body.dark .swal-button--cancel:hover {
  background: #25282a;
  color: #ada89d;
}

body.dark .swal-button--confirm {
  background: #005382;
  color: #e8e6e3;
}

body.dark .swal-button--confirm:hover {
  background: #005783;
  color: #e2e2e0;
}

body.dark .swal-button--danger {
  background: #870804;
  color: #d8d4cf;
}

body.dark .swal-button--danger:hover {
  background: #a90000;
  color: #cdc9c1;
}
