.swal-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.swal-modal {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset-1), var(--shadow-inset-1);
  background: var(--surface-color);
}

.swal-title {
  font-weight: 700;
}

.swal-title,
.swal-text {
  color: var(--text-color);
}

.swal-button {
  color: var(--text-color);
}

.swal-button--cancel {
  background: #212425;
  background: rgba(var(--black-and-white-color), 0.1) !important;
}

.swal-button--cancel:hover {
  background: #25282a;
  background: rgba(var(--black-and-white-color), 0.2) !important;
}

.swal-button--confirm {
  background: #16aef4 !important;
  color: #fff !important;
}

.swal-button--confirm:hover {
  background: #0ba0e5 !important;
}

.swal-button--danger {
  background: #ce241b !important;
  color: #fff !important;
}

.swal-button--danger:hover {
  background: #bb2018 !important;
}
