.toastify {
  border-radius: 12px !important;
  padding: 15px !important;
  background: var(--surface-color) !important;
  border-bottom: 7px solid transparent;
  color: var(--text-color) !important;
  font-weight: 700;
  box-shadow: var(--shadow-outset-3), var(--shadow-inset-1) !important;
}

@media only screen and (max-width: 768px) {
  .toastify {
    max-width: 85% !important;
  }
}

.toastify-success {
  border-bottom-color: var(--success-color);
}

.toastify-information {
  border-bottom-color: var(--information-color);
}

.toastify-error {
  border-bottom-color: var(--error-color);
}

.toastify-warning {
  border-bottom-color: var(--warning-color);
}

.toast-close {
  padding: 5px !important;
  opacity: 0.6 !important;
  margin-left: 7px;
}
